<!DOCTYPE html>
<html>
<head>
  <title>BbCookieCutter</title>
  <%= stylesheet_link_tag    "bb_cookie_cutter/application", :media => "all" %>
  <%= javascript_include_tag "bb_cookie_cutter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
